header {
    .main-nav-con {
        border-bottom: 2px solid rgb(143, 0, 0);
        background: rgba(0, 0, 0, 0.767);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .nav-logo {
        width: 50px;
    }
    .main-nav-links {
        display: none;
    }
    .burger {
        div {
            border: solid 1.5px #000;
            width: 20px;
            margin-bottom: 4px;
        }
    }
    .heading-con {
        position: relative;
        background: #000;         
        .img-text {
            position: absolute;
            top: 37%;
            left: 31%;
            font-size: 50px;
            font-weight: 800;
            color: rgb(116, 0, 0);
            z-index: 3;
        }
    }
    
}
.profile {
    position: relative;
    left: 25%;
    font-size: 26px;
}
/**************/ 
.mobile-nav {
    position: absolute;
    z-index: 4; /* only works with pos abso. */
    top: 72px;
    left: 60%;
    width: 40%;
    height: 40%;
    background: #2f3541;
    text-align: center;
    border-bottom: 1px solid #000;
    transition: ease-in ;

}
.nav-links {
    color: #fff;
    padding: 20px;
    ul li {
       padding: 10px;
       border-bottom: 1px solid #000;
    }
    a li {
        color: aliceblue;
    }
}
