.latest-con {
    background-color:rgba(0, 0, 0, 0.767);
    padding-left: 15px;
    padding-right: 15px;
}
.latest-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    padding-top: 25px;
    margin-bottom: 25px;
    &:after {
        display: block;
        content: '';
        border-bottom: 4px solid #dd163b;
        width: 20px;
        
    }
    &:before {
        display: block;
        content: '';
        border-bottom: 4px solid #dd163b;
        width: 20px;   
    }
    div {
        display: flex;
    }
    .latest-txt-red {
        color: #dd163b;
        margin-left: 10px;
    }
}
.match-card {
    
}
.match-vid {
    border-radius: 5px;
    width: 100%;
    height: 50%;
}